{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col m3"></div>
            <div class="col s12 m6 white" style="padding: 10px;">
                <form action="{{ url_for('newTask') }}" method="POST">
                    {{ form.hidden_tag()}}
                    <div class="input-field">
                        {{ form.title.label }}
                        {{ form.title }}

                    </div>
                    {{ form.start_time.label }}
                    <div class="input-field">
                        {{ form.start_time(type='time') }}
                    </div>
                    <div class="input-field">

                        {{ form.duration.label }}
                        {{ form.duration }}
                        {% for error in form.duration.errors %}
                        <p style="display: block; margin-top: -18px; padding: 2px 5px;background-color: #Fdd; font-size: smaller; font-style: italic; color: red; font-weight: bold;">
                            *{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="input-field">
                        {{ form.note.label }}
                        {{ form.note(class = 'materialize-textarea') }}
                        {% for error in form.note.errors %}
                        <span class="red-text">{{ error }}</span>
                        {% endfor %}
                    </div>

                    {{ form.submit(class = 'btn red white-text wave-effect wave-light') }}
                </form>
            </div>
            <div class="col m3"></div>
        </div>
    </div>
</div>

{% endblock %}


